server:
  port: ${PORT:8081}
  error:
    include-message: always

spring:
  application:
    name: bank-system
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:bank_system_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

keycloak:
  auth-server-url: ${KEYCLOAK_URL:http://localhost:8080}
  client-key-password: ${KEYCLOAK_TOKEN:4MLIwgvolMNPCeEiF2VRsrpMoz61iVWr}
  realm: ${KEYCLOAK_REALM:UPAGE}
  resource: bank-system-client
  public-client: false
  use-resource-role-mappings: false
  bearer-only: true