server:
  port: ${PORT:8080}
  error:
    include-message: always

spring:
  application:
    name: bank-system
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:bank_system_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${KEYCLOAK_URL:http://localhost:8443}/auth/realms/${KEYCLOAK_REALM:UPAGE}/protocol/openid-connect/certs

keycloak:
  auth-server-url: ${KEYCLOAK_URL:http://localhost:8443/auth}
  client-key-password: ${KEYCLOAK_TOKEN:e95bfe79-03c3-473e-80f0-cfed163dd13f}
  realm: ${KEYCLOAK_REALM:UPAGE}
  resource: bank-system-client
  public-client: false
  bearer-only: true